.Amen {
  border: 1px dashed #f00;
}

body,html {
    width:100%;
}

.amen-load {
    color:#fc0;
    background:black;
}

.amenbox {
    position:relative;
}

.amen-mini-box {
    border-bottom:1px dotted #fc0;
}

.amenrow {
    position:relative;
}

.amenblock {
    width:20px;
    margin:1px;
    border:1px solid black;
    display:inline-block;
    height:20px;
    border-radius:5px;
}

.selected {
    background:red !important;
}

.marked {
    background:yellow;
}

